body {                                                                 
	background-color: #ffcc99;                                     
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
p {                                                                    
        color: #ffffff;
}                                                                      
h2 {                                                                   
        color: #331a00;                                                
        font-weight: bold;                                             
}          
